<div class="modals">
  <app-modal
    modal="Open Modal 1"
    title="Add link to a parent product"
    description="Select a product to link as a perent">
    
    <app-search
      label="Search product"
      placeholder="Type product name...">
    </app-search>

  </app-modal>
  
  <app-modal
    modal="Open Modal 2"
    title="Add link to a child product"
    description="Select a product to link as a child">
  
    <app-search
      label="Search product"
      placeholder="Type product name...">
    </app-search>

  </app-modal>
  
  <app-modal
    modal="Open Modal 3"
    title="Add link to a compatible product"
    description="Select a product from your company or from a partner to link as a compatible product">
  
    <app-search
      label="Search partner"
      placeholder="Type partner name...">
    </app-search>
    
    <app-search
      label="Search product"
      placeholder="Type product name...">
    </app-search>

  </app-modal>
</div>


<router-outlet />